
<div class="container col-md-6 offset-mid-3">
    <h3 style="text-align: center;"> Add new user </h3>
    <form >
      

        <div class="form-group">
            <input type="text" name="idUser" id="Iduser" disabled hidden>
            <label style="margin-bottom: 10px"> Nom </label>
            <input type="text" class="form-control" id="nom" >
            
        </div>

        <div class="form-group">
            <label for="prenom" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="prenomtxt" >
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" >
        </div>

        <div class="form-group">
            <label for="adress" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="adress" >
        </div>
        <div class="form-group">
            <label for="role" class="form-label">Role</label>
            <select class="form-select"  >
                
                <option value="Admin">Admin</option>
                <option value="User">User</option>
    
              </select>

            
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <div class="mb-3" class="d-flex align-items-center">
            <input type="password" class="form-control" id="passwordId" >
            </div>
        </div>
        <div>
            <label for="password" class="form-label">Confirm Password</label>
            <div class="mb-3" class="d-flex align-items-center">
            <input type="password" class="form-control" id="passwordIdConfirm" >
            </div>
        </div>

        <a routerLink="/users" class="btn btn-success" type="button" style="margin-top: 10px;"> Save </a>
        <a routerLink="/users" class="btn btn-success" type="button" style="margin-top: 10px; margin-left: 10px;"> go back </a>
    </form>

</div>