
<div class="container col-md-6 offset-mid-3">
    <h3 style="text-align: center;"> Add new user </h3>
    <form (ngSubmit)="addUser()">
      

        <div class="form-group">
            <input type="text" name="idUser" id="Iduser" disabled hidden>
            <label style="margin-bottom: 10px"> Nom </label>
            <input type="text" class="form-control" id="nomtxt" [(ngModel)]="user.nom" name="nom" >
            
        </div>

        <div class="form-group">
            <label for="prenom" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="prenomtxt" [(ngModel)]="user.prenom" name="prenom" >
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailtxt" [(ngModel)]="user.email" name="eemailm" >
        </div>

        <div class="form-group">
            <label for="adress" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="adress" [(ngModel)]="user.adresse" name="adresse" >
        </div>
        <div class="form-group">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" id="r" [(ngModel)]="user.role" name="role">
                
                <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                
    
              </select>

            
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <div class="mb-3" class="d-flex align-items-center">
            <input type="password" class="form-control" id="passwordId" [(ngModel)]="user.password" name="password" >
            </div>
        </div>
        <div>
            <label for="password" class="form-label">Confirm Password</label>
            <div class="mb-3" class="d-flex align-items-center">
            <input type="password" class="form-control" id="passwordIdConfirm" name="passConfirm" >
            </div>
        </div>
        <button class="btn btn-success" type="submit">save</button>

        <!-- <a  class="btn btn-success" (click)="passwordConfirm()" type="submit" style="margin-top: 10px;" > Save </a> -->
        <a routerLink="/users" class="btn btn-success" type="button" style="margin-top: 10px; margin-left: 10px;"> go back </a>
    </form>

</div>