<h2>to proceed please select the user for this reservation from the list bellow</h2>
<div class="container col-md-6 offset-md-3">
<form >
<div class="form-group" >
    <label for="role" class="form-label">Choose the user</label>
    <select class="form-select" id="identifiant">
        <option *ngFor="let u of user" [value]="u[0]" >{{u[0]}} : {{ u[1] }} {{ u[2] }}</option>
      </select>
</div>
<div class="d-flex justify-content-center" style="margin-top: 10px;">
    <button class="btn btn-success" (click)="confirmBooking()">proceed</button>
</div>

</form>
</div>