
<a routerLink="/add-document" class="btn btn-info"> add a new reservation</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">idReservation</th>
        <th scope="col">idDoc</th>
        <th scope="col">idUser</th>
        <th scope="col">date de reservation</th>
        <th scope="col">etat</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <th >{{reservation.idReservation}}</th>
        <td class="column">{{reservation.idDoc}}</td>
        <td class="column">{{reservation.idUser}}</td>
        <td class="column">{{reservation.date_reservation}}</td>

        <td class="column">
          <button *ngIf="reservation.isActive"
          type="button" class="btn btn-success" data-bs-toggle="button" >actif</button>
          <button *ngIf="!reservation.isActive"
          type="button" class="btn btn-danger" data-bs-toggle="button" >inactif</button>
        </td>
        <td class="column">
          <button class="btn btn-outline-danger" >
            <i class="bi bi-calendar"></i>
          </button>
        <td class="column">
            <button class="btn btn-outline-danger" >
                <i class="bi bi-pencil-square"></i>
            </button>
        </td>
        <td class="column">
        <button class="btn btn-outline-danger" >
            <i class="bi bi-trash"></i>
        </button>
    </td>
      </tr>
      
    </tbody>
  </table>