
<a routerLink="/add-document" class="btn btn-info"> add a new reservation</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">idReservation</th>
        <th scope="col">idDoc</th>
        <th scope="col">idUser</th>
        <th scope="col">date de reservation</th>
        <th scope="col">etat</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of docs">
        <th >{{d.idDoc}}</th>
        <td class="column">{{d.titre}}</td>
        <td class="column">{{d.auteur}}</td>
        <td class="column">{{d.date_ecriture}}</td>

        <td class="column">{{d.stock}}</td>
        <td class="column">
          <button class="btn btn-outline-danger" (click)="navigateToBooking(d.idDoc)">
            <i class="bi bi-calendar"></i>
          </button>
        <td class="column">
            <button class="btn btn-outline-danger" (click)="navigateToUpdate(d.idDoc)">
                <i class="bi bi-pencil-square"></i>
            </button>
        </td>
        <td class="column">
        <button class="btn btn-outline-danger" (click)="deleteDoc(d.idDoc)">
            <i class="bi bi-trash"></i>
        </button>
    </td>
      </tr>
      
    </tbody>
  </table>