
  <div class="container col-md-6 offset-mid-3">
    <h3 style="text-align: center;"> My personal infos </h3>
    <form (ngSubmit)="updateUser(updateUserForm)" #updateUserForm="ngForm" novalidate autocomplete="off">
      

        <div class="form-group">
            <input type="number" [(ngModel)]="user.idUser" name="idUser" id="Iduser" disabled hidden>
            <label style="margin-bottom: 10px"> Nom </label>
            <input type="text" required class="form-control" id="nom" [(ngModel)]="user.nom" name="nom"
            #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
            <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>            
        </div>

        <div class="form-group">
            <label for="prenom" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="prenomtxt" [(ngModel)]="user.prenom" name="prenom"
            required #prenom="ngModel" [class.is-invalid]="prenom.invalid && prenom.touched" >
            <small [class.d-none]="prenom.valid || prenom.untouched" class="text-danger">Prenom is required</small>
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" 
            required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" autocomplete="off"
            placeholder="a valid email: text12@email.cp">
            <small [class.d-none]="email.valid || email.untouched" class="text-danger">Please respect the email format and fill the input</small>
        </div>

        <div class="form-group">
            <label for="adress" class="form-label">Adresse</label>
        <input  [placeholder]="user.adresse!== null && user.adresse!== ''? user.adresse : undefined"
        type="text" class="form-control" id="adress" [(ngModel)]="user.adresse" name="adresse">
        </div>
        <div class="form-group">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" id="r" [(ngModel)]="user.role" name="role" autocomplete="off">
                <option *ngFor="let r of roles" [value]="r">{{r}}</option>
            </select>
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            
            <input type="password" class="form-control" id="passwordId" [(ngModel)]="user.password" name="pass" 
                onfocus="this.select()" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" >
                <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password is required</small>
            
        </div>
        <div>
            <label for="password" class="form-label">Confirm Password</label>
            
            <input type="password" class="form-control" id="passwordIdConfirm" [(ngModel)]="confirmfield" name="confirm"
            onfocus="this.select()" required #confinput="ngModel" [class.is-invalid]="confinput.invalid && confinput.touched">
            <small [class.d-none]="confinput.valid || confinput.untouched" class="text-danger">The Confirm password is required and should match the password</small>
            
        </div>


        <button class="btn btn-success"  style="margin-top: 10px;" type="submit">update infos</button>
        <a routerLink="/users" class="btn btn-success" type="button" style="margin-top: 10px; margin-left: 10px;"> go back </a>
    </form>
    <div *ngIf="errormessage" class="alert alert-danger "  role="alert">
        {{ errormessage }}
    </div>

</div>