
  <div class="container col-md-6 offset-mid-3">
    <h3 style="text-align: center;"> My personal infos </h3>
    <form >
      

        <div class="form-group">
            <input type="number" [(ngModel)]="user.idUser" name="idUser" id="Iduser" disabled hidden>
            <label style="margin-bottom: 10px"> Nom </label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="user.nom" name="nom"
            #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
            <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>            
        </div>

        <div class="form-group">
            <label for="prenom" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="prenomtxt" [(ngModel)]="user.prenom" name="prenom">
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
        </div>

        <div class="form-group">
            <label for="adress" class="form-label">Adresse</label>
        <input onfocus="this.select()" [placeholder]="user.adresse!== null && user.adresse!== ''? user.adresse : undefined"
        type="text" class="form-control" id="adress" [(ngModel)]="user.adresse" name="adresse">
        </div>
        <div class="form-group">
            <label for="role" class="form-label">Role</label>
            <select class="form-select" id="r" [(ngModel)]="user.role" name="role" autocomplete="off">
                <option *ngFor="let r of roles" [value]="r">{{r}}</option>
            </select>
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <div class="mb-3" class="d-flex align-items-center">
            <input type="password" class="form-control" id="passwordId" [(ngModel)]="user.password" name="pass" >
            </div>
        </div>
        <div>
            <label for="password" class="form-label">Confirm Password</label>
            <div class="mb-3" class="d-flex align-items-center">
            <input type="password" class="form-control" id="passwordIdConfirm" [(ngModel)]="confirmfield" name="confirm">
            </div>
        </div>

        <a routerLink="/update-profile" class="btn btn-success" type="button" style="margin-top: 10px;"> Update </a>
        <a routerLink="" class="btn btn-success" type="button" style="margin-top: 10px; margin-left: 10px;"> go back </a>
    </form>

</div>