
<a routerLink="/add-document" class="btn btn-info"> add a new document</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">idDoc</th>
        <th scope="col">titre</th>
        <th scope="col">auteur</th>
        <th scope="col">date d'ecriture</th>
        <th scope="col">stock</th>
        <th scope="col">book</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of docs">
        <th >{{d.idDoc}}</th>
        <td class="column">{{d.titre}}</td>
        <td class="column">{{d.auteur}}</td>
        <td class="column">{{d.date_ecriture}}</td>

        <td class="column">{{d.stock}}</td>
        <td class="column">
          <button *ngIf ="d.stock >0" class="btn btn-outline-danger" (click)="navigateToBooking(d.idDoc)" >
            <i class="bi bi-calendar"></i>

          </button>
          <button *ngIf ="d.stock==0" class="btn btn-outline-danger" (click)="navigateToBooking(d.idDoc)" disabled>
            <i class="bi bi-calendar"></i>

          </button>
        <td class="column">
            <button class="btn btn-outline-danger" (click)="navigateToUpdate(d.idDoc)">
                <i class="bi bi-pencil-square"></i>
            </button>
        </td>
        <td class="column">
        <button class="btn btn-outline-danger" (click)="deleteDoc(d.idDoc)">
            <i class="bi bi-trash"></i>
        </button>
    </td>
      </tr>
      
    </tbody>
  </table>